.boton{
    text-align: right;
}

.fecha{
   width: 25px;
}

.fila{
    display:flex; 
    margin-top: 30px;
    justify-content:right;  
    margin: 5px;
}

.form{
    border-color: rgba(69, 66, 66, 0.507);
    border-style:inset;

}