.contenedor-principal{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.contenedor-medio {
  width: 1000px;
  height: 400px;
  margin: 10px 10px 50 px; 
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 /45%); 
}

.link-crear{
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;  
  margin-right: 50px; 
}